@import "./placingItems";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    min-height: 100vh;
    @include flex-box(flex,center,center,unset);
}

//******************   form section [[[[[[[[  Start ]]]]]]]]]]]   **********************

//******************  [Log-In] section [[[[[[[[  Start ]]]]]]]]]]]   **********************
form
{
    border: 2px solid red;
    height: 40vh;
    width: 25vw;
    padding: .5rem;
    backdrop-filter: blur(5px);
}

form .form-container
{
    //border: 2px solid aqua;
    height: 100%;
    @include flex-box(flex,unset,center,column);
    gap: 1.5rem;
    display: none;
    transition: .3s linear;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
}

.form-container.active
{
    display: flex;
}

.form-container .form-details
{
    position: relative;
    height: 100%;
    gap: 1.3rem;
    width: 100%;

    @include flex-box(flex,unset,unset,column);
}

.form-details .input-container
{
    @include flex-box(flex,space-between,center,unset);
}

.input-container label
{
    color: black;
    font-size: 1rem;
}

.input-container input
{
    background: transparent;
    padding: .3rem;
    // color: white;
    // border: 2px solid red;
    width: 13rem;
}

.form-details .form-submitBtn-container
{
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

.form-submitBtn-container .form-submitBtn
{
    padding: .3rem 1rem;
    cursor: pointer;
    background: transparent;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}

.form-submitBtn-container .form-submitBtn:hover
{
    background: aqua;
}

.form-details .form-desc
{
    position: absolute;
    bottom: 5%;
    text-align: center;
    width: 100%;
}

.form-desc .user-toggle
{
    color: red;
    cursor: pointer;
    transition: .2s linear;
    -webkit-transition: .2s linear;
    -moz-transition: .2s linear;
    -ms-transition: .2s linear;
    -o-transition: .2s linear;
}

.form-desc .user-toggle:hover
{
    text-decoration: underline;
}
//******************  [Sign-Up] section [[[[[[[[   Start  ]]]]]]]]]]]   **********************

//******************  [Sign-Up] section [[[[[[[[    End   ]]]]]]]]]]]   **********************

.sign-Up.active .form-details
{
    gap: 1rem;
}

//******************   form  section [[[[[[[[   End  ]]]]]]]]]]]   **********************